<header class="flex justify-between items-center mx-5 my-4 mb-0 md:mx-10">
    <a href="/">
        <img class="w-10" src="/assets/images/icons8-beer-64-1.png" alt="swig-alert logo">
    </a>
    <p class="text-3xl font-logo">SwigAlert</p>
</header>