<section class="relative flex flex-col h-screen items-center justify-center text-center bg-black">
    <div class="video-container absolute w-full h-full bg-black top-0 left-0 overflow-hidden">
        <video
            class="absolute min-w-full min-h-full object-cover top-2/4 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            src="assets/video4.mp4" autoplay muted loop playsinline />
    </div>
    <div class="z-10 text-white">
        <h1 class="text-6xl pb-4 font-logo md:text-8xl">SwigAlert</h1>
        <h4 class="font-thin text-lg">Helping you stay safe and on track</h4>
        <div class="space-y-4 mt-8">
            <a href="/auth/login"
                class="block bg-green-700 text-white px-3 py-2  rounded font-bold w-full md:w-1/2 md:mx-auto hover:cursor-pointer">
                Login</a>
            <a href="/auth/register" class="block text-green-100 font-thin mx-auto hover:underline">Don't have an
                account?
                Register
                here</a>
        </div>
    </div>
</section>